.role-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    gap: 50px;

    background-image: url('../../assets/back.svg');
    background-position: center;

    font-family: 'Inter', sans-serif;
    letter-spacing: 0.75px;
    color: #505050;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.buttons button {
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 10px;
    background: linear-gradient(90deg, #0d78c5, #a8c1e6);
    border: 0 solid white;
    width: 300px;

    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 0.75px;
}

@media screen and (max-width: 500px) {
    .buttons button {
        width: 250px;
    }

    .role-container h2 {
        width: 250px;
        text-align: center;
    }
}